
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
   <!-- style sheet -->
   <link rel="stylesheet" href="./style.css" />
  
   <!-- jquery -->
   <script src="https://code.jquery.com/jquery-latest.js"></script>
   
   <!-- Bootstrap CSS -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  
  
   <meta charset="utf-8" />
   <meta property="og:title" content="[datasave] <%=called_videoName%>">
   <meta property="og:description" content="videoplayer">
  
      <title>JunCode</title>
  </head>
  <body>
  
  <!-- navigation bar -->
  <nav class="navbar">
    <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fas fa-bars"></i>
        </span>
    <a href="/" class="logo">JunCode</a>
    <ul class="main-nav" id="js-menu">
      <li>
        <a href="/" class="nav-links">Home</a>
      </li>
      <li>
        <a href="#" class="nav-links">Login</a>
      </li>
      <li>
        <a href="#" class="nav-links">Signup</a>
      </li>
      <li>
        <a href="#" class="nav-links">info</a>
      </li>
    </ul>
  </nav>
  
  
  
    <div class="videoplayer_video_discription">
  <%=called_displayName%> 
  <br>
  <button type="button" onclick="location.href= 'card_thumbnail_upload?id=<%=called_videoID%>&index=<%= called_videoIndex %>'" class="btn btn-outline-info" id="videoplayer_thumbnail_change_btn">썸네일변경</button> 
  <button type="button" onclick="location.href= 'card_video_delete?id=<%=called_videoID%>&index=<%= called_videoIndex %>'" class="btn btn-outline-danger" id="videoplayer_delete_btn">삭제</button>
</div>
  
    <p align="middle"> <!-- 동영상 가운데정렬 -->
      <!-- 백엔드에서 요청받은 비디오의 아이디를 가져옴. -->
      <video controls class="videoplayer" src="video/<%=called_videoName%>">
      
          Sorry, your browser doesn't support embedded videos.
      </video>
      </p>
  
  <!-- script -->
  <script type="text/javascript">
  
    
    </script>
  
  </body>
  </html>